{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-tile-loaded {
	-webkit-filter: saturate(0.6);
}

.leaflet-control-zoom, .leaflet-control-attribution  {
	display: none;
}